{
  "bill_to"        : "{{ purpose_bill_to }}",
  "requestor"      : "{{ purpose_requestor }}",
  "build_date"     : "{{ purpose_build_date }}",
  "used_by"        : "{{ purpose_used_by }}",
  "contact_group"  : "{{ purpose_contact_group }}",
  "classification" : "{{ purpose_classification }}",
  "sox_in_scope"   : "{{ purpose_sox_in_scope }}",
  "managed_by"     : "{{ purpose_managed_by }}",
  "support_tier"   : "{{ purpose_support_tier }}"
}
